/* CSS declarations go here */
.spacer
{
  margin-bottom: 100px;
}

.bk-img { background-image: url("white-pattern.jpg"); background-repeat: repeat;
width: 2000px; height: 1000px; position: fixed; }

.center-text
{
  text-align: center;
  padding: 10px;
}

.bk-footer
{
  background-color: rgb(255, 255, 255);
}

.panel-1
{
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 700px;
}

.txt-size
{
  font-size: 24px;
  padding-left: 30px;
  text-decoration: none;
}

.sx-spacer
{
  margin-bottom: 20px;
}

.form-padding
{
  margin: 10px;
}

.btn-padding-rgt
{
  margin-top: 100px;
}

.rg-margin-1
{
  margin: : 50px;
}

.rg-margin-2
{
  margin: 100px;
}

.rg-margin-3
{
  margin: 150px;
}
